@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Sriracha', cursive;
}



* {
    margin: 0px;
    padding: 0px;

}

html,
body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;

}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 10vw;
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
}

section.normal {
    background-color: white;
    color: rgb(1, 255, 221);
}


header a:hover,
footer a:hover {
    text-decoration: underline;
}

header p {
    font-size: 4em;
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

header a,
footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
}

section {

    font-size: 3.5vw;
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}


section.imagem {
    padding-left: 150px;
    background-color: rgb(43, 43, 43);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 60px 60px 130px 0px black;
}



section >p {

    padding-bottom: 2em;
}

section#img001 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    
}

section#img002 {
    background-image: url(../imagens/background002.jpg);
    background-position: left center;
   
}

section.normal {
    background-color: white;
    color: black;
}


section.imagem>p {
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.575);
    text-shadow: 2px 1px 1px black;

}

footer {

    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}